<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.github.ethanzhang.factsplatform.infrastructure.db.mapper.RawEventMapper">

    <insert id="insertMeta">
        INSERT INTO raw_event_meta (
            raw_event_id,
            source,
            event_type,
            identify_key,
            zone_id,
            ingest_time
        ) VALUES (
                     #{entity.rawEventId},
                     #{entity.source},
                     #{entity.eventType},
                     #{entity.identifyKey},
                     #{entity.zoneId},
                     #{entity.ingestTime}
                 )
    </insert>

    <insert id="insertContent">
        INSERT INTO raw_event_content (
            raw_event_id,
            event_body
        ) VALUES (
                     #{entity.rawEventId},
                     #{entity.eventBody}
                 )
    </insert>
</mapper>
