<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.github.ethanzhang.factsplatform.infrastructure.db.mapper.RawEventMapper">

    <insert id="insertIdentify">
        insert into raw_event_identify (
            raw_event_id,
            source,
            identify_key,
            zone_id,
            ingest_time,
            timeline_sequence_id
        )
        values (
            #{entity.rawEventId},
            #{entity.source},
            #{entity.identifyKey},
            #{entity.zoneId},
            #{entity.ingestTime},
            #{entity.timelineSequenceId}
        );
    </insert>

    <insert id="insertRawEvent">
        insert into raw_event (
            raw_event_id,
            event_body
        )
        values (
            #{entity.rawEventId},
            #{entity.eventBody}
        );
    </insert>
</mapper>
